<!DOCTYPE html>
<html>
    <head>
        <title>Distributors</title>
    </head>
    <body>
        <h1>Distributors</h1>
        <ul>
            <% distributors.forEach((distributor) => { %>
                <li><%= distributor.name %></li>
            <% }) %> 
        </ul>

    </body>
</html>